.about {
  padding-bottom: 160px;

  @include mobile {
    padding-bottom: 80px;
  }

  &__wrap-text {
    display: flex;
    align-items:start;
    justify-content: space-between;
    border-bottom: 1px solid $dark-black;
    margin-bottom: 63px;
    padding-bottom: 9px;

    @include small-tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    flex: 0 0 51%;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 0.84px;
    margin: 0;

    @include small-tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__desc {
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    margin: 0;
    margin-bottom: 50px;

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.about-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  row-gap: 39px;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}

.about-item {

  &_1 {
    grid-column: 7/10;

    @include mobile {
      grid-column: 1/2;
    }
  }

  &_2 {
    grid-column: 10/13;
    @include mobile {
      grid-column: 2/3;
    }
  }

  &_3 {
    grid-column: 7/10;
    @include mobile {
      grid-column: 1/2;
    }
  }

  &_4 {
    grid-column: 10/13;
    @include mobile {
      grid-column: 2/3;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 27px;

    @include mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 20px;
    line-height: 20px;

    @include mobile {
      font-size: 10px;
      line-height: 15px;
    }
  }
}


