.advantage {
  padding-bottom: 163px;


  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 63px;
    column-gap: 19px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &_svg {
    color: $dark-black;
    width: 40px;
    height: 40px;
  }

  &__content {
    max-width: 240px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin:0 ;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
  }
}
  .advantage-wrap {
    width: 40px;
    height: 40px;
    margin-right: 43px;
    margin-bottom: 12px;
  }
