
.details-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $dark-black;
  padding: 6px 0;
}


.details-flex:first-child {
  border-top: 1px solid $dark-black;
}


.details {
  padding-bottom: 185px;

  &__title {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }

  &__span {
    font-size: 28px;
    line-height: 42px;
    margin-right: 40px;
  }

  &__desc {
    flex: 0 0 49%;
    font-size: 16px;
    line-height: 24px;
  }
}
