.forma {
  padding-bottom: 185px;

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
      align-items: center;
    }
  }

}

.forma-social {
  display: flex;
  align-items:end;
  height: auto;

  @include small-tablet {
    order: 1;
    margin-top: 30px;
  }

  &__item {
    font-weight: 500;

  }

  &__link {
    transition: color 0.25s ease;

    &:hover {
      color: $red-color;
    }
  }
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.form {
  display: flex;
  flex: 0 0 40%;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 15px;

  &__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

  }

  &__input {
    width: 100%;
    padding:23px 20px;
    background: $portfolio-bg;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }

  &__btn {
    background: $red-color;
    border: none;
    padding: 20px 236px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    transition: background 0.25s ease;

    &:hover {
      background: rgb(167, 30, 30);
    }
  }

    &__select {
      width: 100%;
      padding:23px 20px;
      background: $portfolio-bg;
      border: none;
      margin-bottom: 26px;
      font-size: 12px;
      padding-left: 14px;
    }

    &__option {

    }
}

.form-group-title {
	font-style: 22px;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

.form-group {
  width: 559px;
}

.dropdown {
  width: 100%;
}

.form-group + .form-group {
	margin-top: 10px;
}

label {
	cursor: pointer;
}

/* *******************
Select
******************* */

.select {
	/* Растягиваем блок на 100% родительского блока, для правильного размещения кастомной стрелочки */
	width: 100%;

	/* Убираем браузерную стрелку */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	/* Задаем свой фон и рамку */
	border: 1px solid #7E9BBD;
	border-radius: 6px;
	background: #d9d9d9;

	/* Отступы от рамки к тексту */
	padding: 10px 35px 10px 15px;

	/* Убираем баузерную обводку*/
	outline: none;

	cursor: pointer;
}

/* Убираем стрелочку в IE 10 и 11 */
.select::-ms-expand {
	display: none;
}

/* По клику - убираем обводку и добавляем свою*/
.select:focus {
	outline: none;
}

/* Делаем .select-wrapper родительским элементом для позиционирования "стрелочки" */
.select-wrapper {
	position: relative;
}

/* Рисуем стрелочку */
.select-wrapper::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	display: block;

	/* Рисуем треугольник */
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	background: #d9d9d9;

	/* Снимаем клик с треугольника */
	pointer-events: none;
  z-index: 10;
}

/* *******************
Select c dropdown на JS
******************* */

.dropdown {
	position: relative;
}

.dropdown__button {
	position: relative;
	display: block;
	text-align: left;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.70;

  width: 100%;
  padding: 23px 20px;
  background: #d9d9d9;
  border: none;
	cursor: pointer;
  margin-bottom: 23px;
}

.dropdown__button:focus, .dropdown__button--active {
	outline: none;
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 22px;
	transform: translateY(-50%);

	/* Рисуем треугольник */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: $dark-black transparent transparent transparent;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}


.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 82px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background:  #d9d9d9;
	box-shadow: 0px 4px 8px  #d9d9d9;
	overflow: hidden;

	border-radius: 6px;
	width: 100%;

	z-index: 1;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	border-bottom: 0px;
	padding: 13px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 6px 6px;
}

.dropdown__list-item:hover {
	background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
	display: none;
}

