<section class="about" id="about">
  <div class="container">
    <div class="about__wrap-text">
      <h2 class="about__title">Обо мне</h2>
      <p class="about__desc">Создаю только эффективные решения, которые работают на результат:от одностраничных сайтов, до крупных интернет-порталов.</p>
    </div>
    <ul class="about-list list-reset">
      <li class="about-item about-item_1">
        <h3 class="about-item__title">Контроль</h3>
        <p class="about-item__desc">Предоставление результатов на каждом этапе работы с возможностью внести правки</p>
      </li>
      <li class="about-item about-item_2">
        <h3 class="about-item__title">Ответственность</h3>
        <p class="about-item__desc">Фриланс как основная деятельность, что означает полную отдачу в процессе работы над заказом</p>
      </li>
      <li class="about-item about-item_3">
        <h3 class="about-item__title">Исполнительность</h3>
        <p class="about-item__desc">Внимательность ко всем требованиям&nbsp;заказчика и прояснение&nbsp;любых моментов</p>
      </li>
      <li class="about-item about-item_4">
        <h3 class="about-item__title">Качество</h3>
        <p class="about-item__desc">Высокое качество как графических материалов, так и внутренних алгоритмов работы сайта</p>
      </li>
    </ul>
  </div>
</section>
