<section class="details">
  <div class="container">
    <div class="details-flex">
      <h2 class="details__title"><span class="details__span">01</span>Вы заказываете сайт</h2>
      <p class="details__desc">Связываетесь со мной по телефону или через заявку на сайте</p>
    </div>
    <div class="details-flex">
      <h2 class="details__title"><span class="details__span">02</span>Обговариваем детали</h2>
      <p class="details__desc">Созваниваемся или списываемся любым удобным для вас способом</p>
    </div>
    <div class="details-flex">
      <h2 class="details__title"><span class="details__span">03</span>Этап программирования</h2>
      <p class="details__desc">Верстаю сайт по вашему проекту пиксель в пиксель</p>
    </div>
  </div>
</section>
