<section class="forma" id="forma">
  <div class="container forma__wrap" >
    <ul class="list-reset social forma-social">
      <li class="social__item forma-social__item"><a class="forma-social__link" href="#" target="_blank" class="social__link" aria-label="Наша страничка в Вконтакте">Vk</a></li>
      <li class="social__item forma-social__item"><a class="forma-social__link" href="#" target="_blank" class="social__link" aria-label="Наша страничка во Instagram">Instagram</a></li>
      <li class="social__item forma-social__item"><a class="forma-social__link" href="#" target="_blank" class="social__link" aria-label="Наша страничка в LinkedIn">Linkedin</a></li>
    </ul>
    <div class="group">
      <form class="form">
        <label class="form__label" for="phone">Телефон или почта</label>
        <input class="form__input" type="text" id="phone" placeholder="Введите телефон">
        <label class="form__label" for="phone">Выберите удобный способ связи</label>
        <div class="form-group">
            <div class="dropdown">
                <div class="dropdown__button">Telegram</div>
                <ul class="dropdown__list">
                <li class="dropdown__list-item" data-value="travel">WhatsApp</li>
                <li class="dropdown__list-item" data-value="lessons">Viber</li>
                <li class="dropdown__list-item" data-value="photo">Звонок на телефон</li>
                <li class="dropdown__list-item" data-value="sport">SMS сообщение</li>
                </ul>
            <input type="text" name="select-category" value="" class="dropdown__input-hidden" >
            </div>
        </div>
      </form>
      <button class="form__btn">Отправить</button>
    </div>

  </div>
</section>
