<section class="forma">
  <div class="container forma__wrap" >
    <ul class="list-reset social forma-social">
      <li class="social__item forma-social__item"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Вконтакте">Vk</a></li>
      <li class="social__item forma-social__item"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка во Instagram">Instagram</a></li>
      <li class="social__item forma-social__item"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка в LinkedIn">Linkedin</a></li>
    </ul>
    <form class="form">
      <label class="form__label" for="phone">Телефон или почта</label>
      <input class="form__input" type="text" id="phone" placeholder="Введите телефон">
      <label class="form__label" for="option">Выберите удобный способ связи</label>
      <select class="form__select" id="option">
        <option class="form__option" value="telegram">Telegram</option>
        <option class="form__option" value="skype">Skype</option>
        <option class="form__option" value="whatsapp">Whatsapp</option>
      </select>
      <button class="form__btn">Отправить</button>
    </form>
  </div>
</section>
