<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link">Обо мне </a></li>
        <li class="nav__item"><a href="#portfolio" class="nav__link">Портфолио </a></li>
        <li class="nav__item"><a href="#detalils" class="nav__link">Этапы работ</a></li>
        <li class="nav__item"><a href="#price" class="nav__link">Цены</a></li>
        <li class="nav__item"><a href="#forma" class="nav__link">Обратная связь</a></li>
      </ul>

      <address class="address">
        <a class="address__tel" href="tel:89237777777">8 923 777-77-77</a>
        <a class="address__email" href="mailto:alexdev@gmail.com">alexdev@gmail.com</a>
      </address>
    </nav>
  </div>
</header>
