<section class="hero">
  <div class="container">
    <picture class="hero__picture">
      <source srcset="img/hero.webp" type="image/webp">
      <img class="hero__img" loading="lazy" src="img/hero.png" class="image" width="1140" height="310" alt="Hero man">
    </picture>
    <div class="hero__text">
      <svg class="hero__text-triangle" viewBox="0 0 66 72" xmlns="http://www.w3.org/2000/svg">
        <path d="M33 0L65.909 71.25H0.0910339L33 0Z"/>
      </svg>
      <svg class="hero__text-circle " viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg">
        <circle cx="53" cy="53" r="53"/>
      </svg>
      <p class="hero__name">Александр Антропов</p>
      <h1 class="hero__title">web-разработчик</h1>
    </div>
    <div class="hero-wrap">
      <button class="hero-btn" id="button-open" >Обсудить проект</button>
      <ul class="list-reset social">
        <li><svg class="social__circle " viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg">
          <circle cx="53" cy="53" r="53"/>
        </svg></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Вконтакте">Vk</a></li>
        <li class="social__item social__item_wand"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка во Instagram">Instagram</a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link" aria-label="Наша страничка в LinkedIn">Linkedin</a></li>
      </ul>
    </div>
  </div>
</section>
