<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Портфолио</h2>
    <ul class="button__list list-reset">
      <li class="button__item">
        <button class="button__btn btn-reset button__active">Лендинги</button>
      </li>
      <li class="button__item">
        <button class="button__btn btn-reset">Корпоративные сайты</button>
      </li>
      <li class="button__item">
        <button class="button__btn btn-reset">Интернет-магазины</button>
      </li>
    </ul>
  </div>
  <div class="portfolio-background">
    <div class="container">
      <ul class="portfolio__list list-reset">
        <li class="portfolio__item">
          <h2 class="portfolio__subtitle">Agata Bielen</h2>
          <ul class="work__list list-reset">
            <li class="work__item"><p>верстка по макету из Figma</p></li>
            <li class="work__item"><p>наполнение сайта контентом</p></li>
            <li class="work__item"><p>внедрена функция добавления видео</p></li>
            <li class="work__item"><p class="portfolio__desc">Затрачено времени: 5 рабочих дней</p></li>
          </ul>
        </li>
        <div class="wrap-img">
          <img class="wrap-img__image" src="img/agata.png" alt="Agata Bielen">
        </div>
      </ul>
      <ul class="portfolio__list list-reset">
        <li class="portfolio__item">
          <h2 class="portfolio__subtitle">Lemon</h2>
          <ul class="work__list list-reset">
            <li class="work__item"><p>верстка по макету из PSD</p></li>
            <li class="work__item"><p>доступен функционал получения заказов</p></li>
            <li class="work__item"><p>реализована кнопка «Заказать в 1 клик»</p></li>
            <li class="work__item"><p class="portfolio__desc">Затрачено времени: 7 рабочих дней</p></li>
          </ul>
        </li>
        <div class="wrap-img">
          <img class="wrap-img__image" src="img/lemon.png" alt="Lemon">
        </div>
      </ul>

    </div>
  </div>
</section>
