<section class="price">
  <div class="container">
    <div class="price__wrap price__border">
      <svg class="price__svg" width="140" height="140" viewBox="0 0 140 140" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="70.0002" cy="70" r="70"/>
      </svg>
      <h2 class="price__title">Тарифы</h2>
      <p class="price__desc">Представленные ниже цены зависят не только от того какой сайт вы хотите. Конечная цена будет озвучена после прочтения Вашего ТЗ</p>
    </div>
    <ul class="price__list list-reset">
      <li class="price__item item">
        <div class="item__content">
          <h3 class="item__title">Разработка<br>лэндинга или сайт визитки</h3>
          <p class="item__desc">Небольшой сайт состоящий из одной страницы </p>
          <button class="item__btn">Обсудить проект</button>
        </div>

        <div class="include">
          <p class="include__desc">Что входит</p>
          <ul class="include__list">
            <li class="include__item"><p class="include__text">Сайт на CMS WordPress</p></li>
            <li class="include__item"><p class="include__text">Одна посадочная страница</p></li>
            <li class="include__item"><p class="include__text">От 7 дней</p></li>
          </ul>
          <span class="include__price">От 7000 Р</span>
          <svg class="include__svg" width="90" height="90" viewBox="0 0 90 90" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <circle cx="45.0002" cy="45" r="45"/>
          </svg>
        </div>
      </li>

      <li class="price__item item">
        <div class="item__content">
          <h3 class="item__title">Разработка<br>корпоративного  сайта</h3>
          <p class="item__desc">Небольшой сайт с n-количеством страниц</p>
          <button class="item__btn">Обсудить проект</button>
        </div>

        <div class="include">
          <p class="include__desc">Что входит</p>
          <ul class="include__list">
            <li class="include__item"><p class="include__text">Сайт на CMS WordPress</p></li>
            <li class="include__item"><p class="include__text">От 2-10 страниц</p></li>
            <li class="include__item"><p class="include__text">От 15 дней</p></li>
          </ul>
          <span class="include__price">От 10000 Р</span>
          <svg class="include__svg" width="90" height="90" viewBox="0 0 90 90" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <circle cx="45.0002" cy="45" r="45"/>
          </svg>
        </div>
      </li>

      <li class="price__item item">
        <div class="item__content">
          <h3 class="item__title">Разработка<br>интернет -магазина</h3>
          <p class="item__desc">Полноценный каталог вашей продукции</p>
          <button class="item__btn">Обсудить проект</button>
        </div>

        <div class="include">
          <p class="include__desc">Что входит</p>
          <ul class="include__list">
            <li class="include__item"><p class="include__text">Сайт на CMS WordPress</p></li>
            <li class="include__item"><p class="include__text">От 2-10 страниц, корзина, карточка товара</p></li>
            <li class="include__item"><p class="include__text">От 20 дней</p></li>
          </ul>
          <span class="include__price">От 15000 Р</span>
          <svg class="include__svg" width="90" height="90" viewBox="0 0 90 90" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <circle cx="45.0002" cy="45" r="45"/>
          </svg>
        </div>
      </li>
    </ul>

  </div>
</section>
