<section class="project">
  <div class="container">
    <div class="project__wrap project__border">
      <svg class="project__svg-circle" width="300" height="300" viewBox="0 0 300 300" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="150" cy="150" r="150"/>
      </svg>
      <svg class="project__svg-triangle" width="65" height="69" viewBox="0 0 65 69" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.6694 0L64.426 68.7551L0.912767 68.7551L32.6694 0Z"/>
      </svg>
      <h2 class="project__title">Расскажите<br>о своем проекте</h2>
      <p class="project__desc">Воспользуйтесь&nbsp;формой&nbsp;обратной связи, чтобы обсудить ваш проект,заполните все поля, и я свяжусь с вами&nbsp;в ближайшее время</p>
    </div>
  </div>
</section>
