<section class="skill">
  <div class="container">
    <ul class="skill__list list-reset">
      <li class="skill__item ">
        <h3 class="skill__title">Front-end</h3>
        <p class="skill__desc">HTML+CSS+JS кодирование дизайнов любой сложности</p>
      </li>
      <li class="skill__item">
        <h3 class="skill__title">Back-end</h3>
        <p class="skill__desc">Разработка сложной back-end логики&nbsp;для готового front-end</p>
      </li>
      <li class="skill__item">
        <h3 class="skill__title">Wordpress</h3>
        <p class="skill__desc">Разработка сайтов - от блога до интернет магазина</p>
      </li>
      <li class="skill__item">
        <h3 class="skill__title">Seo Продвижение</h3>
        <p class="skill__desc">Качественное улучшение позиций сайта в поисковой выдаче</p>
      </li>
    </ul>
  </div>
</section>
