<section class="tech">
  <div class="container">
    <ul class="tech__list list-reset">
      <li class="tech__item">
        <div class="tech__tooltip" data-text="HTML5 — стандартизированный язык гипертекстовой разметки документов для просмотра веб-страниц в браузере">
          <img class="tech__img" src="img/tech/html.svg" alt="Изображение HTML">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="CSS — формальный язык декорирования и описания внешнего вида документа (веб-страницы), написанного с использованием языка разметки">
          <img class="tech__img" src="img/tech/css.svg" alt="Изображение CSS">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="Язык программирования высокого уровня, использующийся для придания интерактивности веб-страницам">
          <img class="tech__img" src="img/tech/js.svg" alt="Изображение JS">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="Библиотека jQuery помогает легко получать доступ к любому элементу DOM">
          <img class="tech__img" src="img/tech/jquery.svg" alt="Изображение jquery">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="Bootstrap — свободный набор инструментов для создания сайтов и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления для типографики, веб-форм, кнопок, меток">
          <img class="tech__img" src="img/tech/bootstrap.svg" alt="Изображение Bootstrap">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text=" В настоящее время поддерживается подавляющим большинством хостинг-провайдеров и является одним из лидеров среди языков">
          <img class="tech__img" src="img/tech/php1.svg" width="95px" height="90px" alt="Изображение PHP">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="Vue.js — JavaScript-фреймворк с открытым исходным кодом для создания пользовательских интерфейсов. Легко интегрируется в проекты с использованием других JavaScript-библиотек.">
          <img class="tech__img" src="img/tech/vue.svg" alt="Изображение VUE">
        </div>
      </li>
      <li class="tech__item">
        <div class="tech__tooltip" data-text="WordPress — свободно распространяемая система управления содержимым сайта с открытым исходным кодом; написана на PHP; сервер базы данных — MySQL">
          <img class="tech__img" src="img/tech/wordpress.svg" alt="Изображение WP">
        </div>
      </li>
    </ul>
  </div>
</section>
